PORT=3005
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Service Queues
USER_SERVICE_QUEUE=user_service_queue
ROUTINE_SERVICE_QUEUE=routine_service_queue
NUTRITION_SERVICE_QUEUE=nutrition_service_queue
CLASS_SERVICE_QUEUE=class_service_queue
NOTIFICATION_SERVICE_QUEUE=notifications_queue